<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        bootstrap="bootstrap.php"
        colors="true"
        verbose="true"
        testdox="true"
>
    <testsuites>
        <testsuite name="Core">
            <directory>Unit/Core</directory>
        </testsuite>
    </testsuites>

    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">../</directory>
        </include>
        <exclude>
            <directory>../tests</directory>
        </exclude>
    </coverage>

    <php>
        <ini name="pcov.enabled" value="1"/>
        <ini name="pcov.directory" value="/var/www/html/web/wp-content/plugins/sitechips-boilerplate/lib"/>
    </php>
</phpunit>